html
    //margin 0px
    margin 0mm 8mm 8mm 8mm

h2,h3,h4,h5,ul,body,html
	padding 0px
	list-style none
	text-decoration none
	box-sizing border-box
	font-family 'Roboto',sans-serif

.mtop5
    margin-top 5px

.mtop16
    margin-top 16px

.negrita
	font-weight bold

.cuadro
    width 100%
    border 1px solid black

.tam5
    width 5%

.tam10
    width 10%

.tam15
    width 15%

.tam20
    width 20%

.tam25
    width 25%

.tam30
    width 30%

.tam40
    width 40%

.tam45
    width 45%

.tam50
    width 50%

.tam60
    width 60%

.tam65
    width 64%

.tam70
    width 70%

.tam80
    width 80%

.tam90
    width 90%

.text-left
    text-align left !important

.text-right
    text-align right

.text-center
    text-align center

.borde-inferior
    border-bottom 1px solid black

.titulo
    //border 1px solid black
    width 100%
    tr
        padding 0.3em
        td
            padding 0.3em
            height 160px

.numero
    margin 10 0 10 10
    padding-top 20px
    padding-bottom 20px
    border 1px solid black
    border-radius 10px

.cliente
    width 100%
    line-height 10px
    font-size 9pt

.detalle
    line-height 10px
    font-size 9pt
    table
        width 100%
        border-collapse collapse
        th,td
            text-align center
            border 1px solid black
            padding 0.3em
        
.footer
    line-height 10px
    font-size 9pt
    table
        width 100%
        

.totales
    width 100%
    border-collapse collapse
    td
        padding 0.5em
        border 1px solid black

.letras
    width 100%
    border-collapse collapse
    td
        padding 0.5em
        border 0px

.lchicas
    font-size 8pt
    