colorprin = #309BC7
colorosc = #3080C7
colorsec = #81C822

html
    //margin 0px
    margin 8mm 8mm 2mm 20mm

body
    padding 0px
    //margin 45mm 8mm 2mm 8mm
.mtop16
    margin-top 16px
    
.fila
    position relative
    width 100%
    clear both
    .col-1
        display block
        float left
        width 10%
    .col-2
        display block
        float left
        width 20%
    .col-3
        display block
        float left
        width 30%
    .col-4
        display block
        float left
        width 40%
    .col-5
        display block
        float left
        width 50%
    .col-6
        display block
        float left
        width 60%
    .col-7
        display block
        float left
        width 70%
    .col-8
        display block
        float left
        width 80%
    .col-9
        display block
        float left
        width 90%
    .col-10
        display block
        float left
        width 100%

.paciente
    font-size 9pt

.detalle
    font-size 9pt
    position relative
    width 100%
    top 110px

.detallev
    font-size 9pt
    position relative
    width 100%
    top 100px

.final
    position relative
    width 100%
    top 310px

.finalv
    position relative
    width 100%
    top 450px

.recomendaciones
    font-size 9pt
    .rec
        display inline

.qrtext
    margin 0px
    padding 0px
    font-size 8pt
    line-height 10px

.footer
    font-size 9pt
    position fixed
    bottom -1px
    height 30px

.oculto
    display none

.letchica
	font-size 0.7em