// html
//     //margin 0px
//     margin 0mm 8mm 8mm 8mm

@page
    margin 100px 0px
    font-size 1em

body
    margin 0.5cm 1cm 1cm

h2,h3,h4,h5,ul,html
	padding 0px
	list-style none
	text-decoration none
	box-sizing border-box
	font-family 'Roboto',sans-serif

.mtop5
    margin-top 5px

.mtop16
    margin-top 16px

.mbottom16
    margin-bottom  16px

.negrita
	font-weight bold

.anchototal
    width 100%

.tam5
    width 5%

.tam10
    width 10%

.tam15
    width 15%

.tam20
    width 20%

.tam25
    width 25%

.tam30
    width 30%

.tam40
    width 40%

.tam45
    width 45%

.tam50
    width 50%

.tam60
    width 60%

.tam65
    width 64%

.tam70
    width 70%

.tam80
    width 80%

.tam90
    width 90%

.text-left
    text-align left !important

.text-right
    text-align right !important

.text-center
    text-align center !important

.borde-inferior
    border-bottom 1px solid black

.rojo
	color red
    
.header
    position: fixed
    top: -90px
    left: 0px
    right: 0px
    background-color: #fff
    height: 30px
    .page
        margin-left 400px
    .page:after
        content: counter(page, decimal)
        
    // height 4cm
    // top 0
    // left 0
    // right 0
    // margin-bottom 20px
    // height 40px
    // text-align center
    //line-height 30px
    .empresa
        margin-left 1cm
        line-height 10px        
        font-size 8.5pt
        text-align left
    .titulo
        font-size 16pt
        font-weight bold
        text-align center
        line-height 12px
    .fecha
        margin-left 615px
    .subtitulo
        font-size 9pt
        text-align center
        font-weight none
        

.titulo
    //border 1px solid black
    width 100%
    tr
        padding 0.3em
        td
            padding 0.3em
            height 160px

.numero
    margin 10 0 10 10
    padding-top 20px
    padding-bottom 20px
    border 1px solid black
    border-radius 10px

.cliente
    // margin-top 16px
    width 100%
    line-height 10px
    font-size 9pt

.detalle
    line-height 10px
    font-size 8.5pt
    table
        width 100%
        border-collapse collapse
        th,td
            text-align left
            border 1px solid black
            padding 0.3em

.detaller
    line-height 10px
    font-size 8pt
    table
        width 100%
        border-collapse collapse
        th
            text-align left
            border-top 1px solid black
            border-bottom 1px solid black
            padding 0.3em
        td
            text-align left
            //border 1px solid black
            padding 0.3em

.detallef
    line-height 10px
    font-size 8pt
    table
        width 100%
        border-collapse collapse
        td
            text-align left
            //border 1px solid black
            padding 0.3em
.ultimafila
    border-top 1px solid black
    //border-bottom 1px solid black
        
.footer
    line-height 10px
    font-size 9pt
    table
        width 100%
        

.totales
    width 100%
    border-collapse collapse
    td
        padding 0.5em
        border 1px solid black

.letras
    width 100%
    border-collapse collapse
    td
        padding 0.5em
        border 0px

.lchicas
    font-size 8pt
    